/* Foundation classes */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td { margin: 0; padding: 0; border: 0; outline: none; }
html { height: 100%; }
body { height: 100%; color: #000;background: #5FBEF9 url(../../img/bg.png) repeat-x 0 0;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #797777;}
img {border:none;}
ul { list-style: none; }
.bold {font-weight:bold;}
.wrap {width: 930px;margin: 0 auto;position: relative;}
#content {background-image:none;width:930px;margin-left:auto;margin-right:auto;z-index: 1;}
a, a:link { color: #265C89; text-decoration:underline;}
a:visited { color: #002BB8; }
a:hover { color: #000; }
a:active { color: #002BB8; }
/* Navigation */
.index span {background-image:url('../../img/new-design-sprites.png');background-position: 0 -16px;background-repeat:no-repeat;height:16px;width:15px;margin:0;padding:0;}
#index .index, #news .news, #reviews .reviews, #submitform .submitform { background: white url(../../img/nav-button-on.png) repeat 0 0; color: #333; }
#index .index span {background-image:url('../../img/new-design-sprites.png');background-position: 0 0;}
a.index:hover span {background-position: 0 0;}
ul#nav-second li ul li ul li {width:200px;}
.sf-menu li a.quickbuy { color: #8DFD56;}
#quickbuy .sf-menu li a.quickbuy {color:black;}
#wrap-hdr {clear:both;height: 138px;position: relative;background: #000 url(../../img/top-nav-bg.png) repeat-x top left;width:100%;}
#hdr {width:930px;height:136px;margin-left:auto;margin-right:auto;position:relative;}
#nav-network {position:absolute;top:32px;left: 667px; z-index: 1000;height: 26px; width:115px;  }
#nav-chat { position:absolute;top:14px;right:0;width:130px;height:55px; z-index: 1000;font-size:12px;font-weight:bold;color:#817e7e;overflow:hidden;}
#proactivechatdiv {display:none;width:130px;height:55px;overflow:hidden;}

#nav-chat img {width:130px;height:55px;}
#logo {float:left;height:100px;position:relative;width:650px;margin-top:auto;margin-bottom:auto;}
#logo-icon {position:absolute;left: 0; top: 5px;}
#tagline {z-index: 1069;line-height:90%;font-size: 36px;font-family: "Times New Roman", Times, serif;font-style: italic;color: #A0A0A0;position: absolute;left: 95px;top: 10px;font-weight: bold;letter-spacing: 1px;}
#full-nav {position:absolute;top:90px;left:0;height:48px;width:930px;}
#full-nav #nav li.nav-divider-left {background-color:grey;height:18px;width:1px;margin-top:13px;}
#page-title {width:930px;height:50px;background-color:#09131d;font-size:26px;color:white;clear:both;}
#nav, #nav-second {height:45px;}
#full-nav div ul#nav li a.topnav, #full-nav div ul#nav-second li a.topnav {height:46px;margin-top:-1px;}

.sf-menu, .sf-menu * { margin: 0; padding:1px 0 0 0; list-style:none; }
.sf-menu { line-height:	1.0; }
.sf-menu ul { position:absolute; top:-999em; width: 200px;z-index: 10002;/* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width:200px;font-size:11px; text-transform: none;}
.sf-menu ul li ul li { width:160px;z-index: 1004;}
.sf-menu li:hover { visibility:inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float:left; position:relative;z-index: 10003; }
.sf-menu a { display:block; position:relative;z-index: 10004;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:0; top:45px; /* match top ul list item height */ z-index:99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 200px; /* match ul width */ top:-1px; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:200px; /* match ul width */ top:-1px; }
.sf-menu { z-index: 10000;float:left;font-size: 12px;font-weight: bold;text-transform: uppercase;line-height: 1em;}
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/ color:#f7f3f3; }
.sf-menu li ul li{ margin-bottom:-1px;}
.sf-menu li a {padding: 0 15px; text-decoration: none; color: #f7f3f3; white-space: nowrap; float: left; line-height: 45px;}
.sf-menu li ul li a, .sf-menu li ul li a:visited {background-color:#e8eae9;border-bottom: 1px solid #777;color: #333;display: block;float: none;margin: 0px;line-height: 1.5em;;padding: 9px 5px 6px 10px;}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {  background: url(../../img/nav-button-on.png) repeat right center; color: #333; outline:0; }
ul.sf-menu li:hover a {color: #333;}
/*** arrows **/
.sf-menu a.sf-with-ul { padding-right:15px; min-width:1px; /* trigger IE7 hasLayout so spans position accurately */ }
.sf-sub-indicator { position:absolute; display:block; right:.75em; top:1.05em; /* IE6 only */ width:10px; height:10px; text-indent:-999em; overflow:hidden; background:url('../../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */ }
a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top:1.5em; background-position: -10px -100px; /* use translucent arrow for modern browsers*/ }
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px; /* arrow hovers for modern browsers*/ }
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  0 0; top:1.0em;}
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/ }
ul#nav li ul{-moz-opacity:0.97;-khtml-opacity: 0.97;opacity: 0.97;}
ul#nav-second li ul{-moz-opacity:0.97;-khtml-opacity: 0.97;opacity: 0.97;}
/* The Rest */
.title2 {color:#265C89;font-size:24px;text-align:center;width:100%;font-weight:bold;margin: 15px auto 10px auto;}
.side-reviews-div {width:256px;margin-left:15px;margin-right:15px;background-color:white;padding:10px;}
.side-reviews-div ol li {padding-bottom:8px;}
.side-review-title {font-weight: bold;text-align: center;width:100%;color: #44A9D8;margin-bottom:7px;clear:both;}
.side-review-body {font-size:12px;}
.side-review-rating {color:black;clear:both;height:24px;width:100%;margin: 3px 0 13px 0;}
.side-reviews-question {font-weight:bold;padding-bottom:4px;}
.contenttext {width:558px;margin: 0 23px 25px 17px;}
.display-name {font-weight:bold;text-align:center;width:100%;}
#page-title {width: 930px;height: 50px;background-color: #09131D;font-size: 26px;color: white;clear: both;}
#products products{background:none !important;}

#full-nav div ul#nav li.nav-divider-right, #full-nav div ul#nav li.nav-divider-right:hover, #full-nav div ul#nav-second li.nav-divider-right, #full-nav div ul#nav-second li.nav-divider-right:hover {margin:0;padding:0;height:18px;width:1px;margin-top:13px;background-color:black;background-image:none;}
#wrap-content {width:100%;clear:both;}
.nav-footer {line-height: .8em;}
.nav-footer li { display: block; padding: 3px 0; }
.nav-footer li a { font-size: 12px; display: block;color: #333;font-family: Arial, sans-serif; }
#footer ul.nav-footer li a:hover {color:#666;}
#footer h3{padding-top:15px;color: #E6E4E4;font-size: 14px;margin: 0;font-weight: bold;text-transform:uppercase; }
div#footer div.onequarter ul.nav-footer li a { margin: 0; padding: 0;font-weight: bold;display: block;text-shadow: 1px 1px 1px black;}
#wrap-ftr {clear:both;height: 151px;clear: both;position: relative;background: #000 url(../../img/new-design-footer-bg.png) repeat-x top center;z-index: 888;}
#footer {width: 930px;margin: 0 auto;}
#wrap-ftr a { color: #51ACE0; text-decoration: none;}
#wrap-ftr a:hover {color: white; text-decoration: none;}
#disclaimer {font-size: 10px;color: #8A8B8B;width: 930px;margin: 0 auto;text-align: center;}
.onequarter {width: 189px;position: relative;float:left;}
.header-footer {font-weight: bold;font-size: 14px;padding-bottom:5px;}
.left-corner-top-7 {float:left;width:6px;height:6px;background: transparent url('../../img/new-design-sprites.png') no-repeat 0 -82px;}
.right-corner-top-7 {float:left;clear:right;width:6px;height:6px;background: transparent url('../../img/new-design-sprites.png') no-repeat -6px -82px;}
.left-corner-bottom-7 {float:left;width:6px;height:6px;background: transparent url('../../img/new-design-sprites.png') no-repeat 0 -88px;}
.right-corner-bottom-7 {float:left;width:6px;height:6px;background: transparent url('../../img/new-design-sprites.png') no-repeat -6px -88px;}